body, html {
    width: 100%;
    padding: 0;
    margin: 0;
}

.pattern {
    margin-top: 100px;
}

.pattern-container {
    position: relative;
    background: #F66;
}

.button {
    position: absolute;
    z-index: 2;
}

.button .nub { 
    background: #7878C2;
    border: 2px solid #669;
}

.button.active .nub{
    background: #78C28D;
}

.line {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    border: 2px solid #167959;
    margin: 0;
    height: 0;
}

.line.active {
    visibility: visible;
}

.line.down {
       -moz-transform: rotate(90deg);  
     -o-transform: rotate(90deg);  
-webkit-transform: rotate(90deg);  
    -ms-transform: rotate(90deg);  
        transform: rotate(90deg);  
             zoom: 1;
}

.line.down.right {
       -moz-transform: rotate(45deg);  
     -o-transform: rotate(45deg);  
-webkit-transform: rotate(45deg);  
    -ms-transform: rotate(45deg);  
        transform: rotate(45deg);  
             zoom: 1;
}
.line.down.left {
       -moz-transform: rotate(315deg);  
     -o-transform: rotate(315deg);  
-webkit-transform: rotate(315deg);  
    -ms-transform: rotate(315deg);  
        transform: rotate(315deg);  
             zoom: 1;
}
