<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/static/button.js"></script>
        <script src="/static/line.js"></script>
        <script src="/static/register.js"></script>
        <script type="text/javascript">
            var sequence = "{{sequence}}";
        </script>
    </head>
    <body>
        <div id="register-pattern">
            <div class="pattern-container">
            </div>
        </div>
        <h2>Go to http://qwad.co on your mobile phone and draw the above code to go to <a href="{{url}}">{{url}}</a></h2>
    </body>
</html>
